header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}
body{
    margin-top: 60px;
}
.btn{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover{
    background-color: lightblue;
    transform: scale(1.1);
}
#paragrafo{
    color: red;
    transition: background-color 0.3s;
}
#paragrafo:hover{
    background-color: yellow;
}