body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    display: flex;
    flex: 1;
}
.conteudoEsquerda{
    width: 30%;
    background-color: #2B2B29;
    color: white;
    padding-left: 2%; 
}
.sessaoConteudoInformacao table td{
    padding-right: 10px;
}
img{
    width: 100%;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 2%;
}
.subtitulos{
    border-bottom: 2px solid white;
    padding-bottom: 2%;
}
.sessaoConteudoInformacao{
    display: flex;
    align-items: center;
}
.conteudoDireita{
    width: 70%;
    padding-left: 2%;
    padding-bottom: 20px;
}
td,tr{
    padding-bottom: 40px;
    padding-left: 2%;
}
.conteudoDireitaTitulo{
    text-align: center;
    font-size: 50px;
    max-width: 90%;
}
.conteudoDireita i {
    margin-right: 15px;
    margin-bottom: 17px;
}
.conteudoDireitaSubTitulo{
    display: flex;
    align-items: center;
    margin-top: 50px;
    max-width: 90%;
}
.conteudoDireitaSubTitulo span{
    padding-bottom: 10px;
    width: 90%;
    border-bottom: 3px solid;
    font-size: 30px;
}
.conteudoDireitaFormacao ul{
    margin-top: 50px;
    max-width: 90%;
}
.conteudoDireitaFormacao li{
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}
.conteudoDireitaExperienciaProfissional ul{
    margin-top: 50px;
    max-width: 90%;
}
.conteudoDireitaExperienciaProfissional li{
    font-size: 20px;
}
.conteudoDireitaExperienciaProfissionalCargo,.conteudoDireitaExperienciaProfissionalCargoDescricao{
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}