.cardEsquerda{
    width: 200px;
    height: 500px;
    border: 1px solid;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    transition: box-shadow 0.3s;
    float: left;
    background-color: rgb(229, 232, 235);
}
.cardEsquerda:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.7);
}
ul{
    list-style-type: none;
}
li:hover{
    background-color: rgb(198, 205, 211);
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
}
.cardDireita{
    width: 200px;
    height: 500px;
    border: 1px solid;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    transition: 1s;
    float: left;
    margin-left: 20px;
    background-color: rgb(229, 232, 235);
}
.cardDireita:hover{
    transform: rotate(4deg);
    box-shadow: 0 8px 16px rgba(0,0,0,0.7);
}
img{
    width: 100%;
    border-bottom: 1px solid;
}
.textoTitulo{
    text-align: center;
}
.texto{
    padding-left: 10px;
}