.primeiraDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tabela{
    width: 50%;
    border-collapse: collapse;
}
.linhasImpares{
    background-color: rgb(153, 196, 196);
}
td{
    border: 1px solid;
}
td:hover{
    background-color: rgb(97, 189, 45);
}
